@{
    ViewData["Title"] = "ONama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <iframe id="gmap_canvas" class="w-100" height="600" src="https://maps.google.com/maps?q=Prva%20ulica%2090%2C%20%C5%BDivinice%2075270&t=&z=15&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="col-md-4 pt-md-5">
            <div class="p-md-5">
                <span><strong>Adresa:</strong></span>
                <p>Prva ulica 90,Živinice</p>
                <span><strong>Kontakt telefon:</strong></span>
                <p>036-773-416</p>
                <span><strong>Radno vrijeme:</strong></span>
                <p>Ponedjeljak-Subota 08:00-17:00 <br /></p>
                <span><strong>Email:</strong></span>
                <p>tdsalon@yahoo.com</p><br />
            </div>
        </div>

    </div>
</div>

