@using TDSalon.Web.Helper

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.1/css/all.css">
    <style>
        #navbarSupportedContent .dropdown-toggle::after {
            display: none !important;
        }
        
        .admin-nav .dropdown-toggle::after {
            display: none !important;
        }

        #sidebar .admin-nav ul li.active > a, a[aria-expanded="true"] {
            color: #fff;
            background: coral !important;
        }
        #navbarSupportedContent ul li.active > a, a[aria-expanded="true"] {
            background: none !important;
        }
        .nav-item {
            border-bottom: 1px solid rgba(0,0,0,.1);
            cursor: pointer;
        }      
        .nav-buttons .li.active>a{
            background:none !important;
        }

        .sidenav {
            height: 100%;
            width: 300px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            padding-top: 20px;
            border-right: 1px solid rgba(0,0,0,.1);
        }

        .nav-item a {
            padding: 1.175rem 0.9375rem;
        }

        body {
            margin: 0px;
            padding: 0px;
            width: 100%;
        }

        .container-fluid {
            padding-left: 0px !important;
        }

        html {
            height: 100%;
        }

        body {
            min-height: 100%;
        }

        .main {
            margin-left: 300px; /* Same as the width of the sidenav */
            padding: 0px 10px;
        }

        span.notification-badge {
            position: relative;
            top: -10px;
            right: 10px;
            border: $white 1px solid;
        }
    </style>
</head>

<body>
   
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="/uploads/logo.png" alt="Alternate Text" width="200" />
            </div>

            <ul class="list-unstyled components">
                <p>Zaposlenik</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Narudžbe</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a asp-action="Index" asp-controller="Narudzbe">Pretraži</a>
                        </li>                       
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Proizvodi</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a asp-action="IndexAdmin" asp-controller="Proizvodi">Pregled</a>
                        </li>
                        <li>
                            <a asp-action="DodajInfo" asp-controller="Proizvodi">Novi proizvod</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#suppliersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dobavljači</a>
                    <ul class="collapse list-unstyled" id="suppliersSubmenu">
                        <li>
                            <a asp-action="Index" asp-controller="Dobavljaci">Pregled</a>
                        </li>
                        <li>
                            <a asp-action="Dodaj" asp-controller="Dobavljaci">Novi dobavljač</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#actionsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Akcije</a>
                    <ul class="collapse list-unstyled" id="actionsSubmenu">
                        <li>
                            <a asp-action="Index" asp-controller="Akcije">Pretraga</a>
                        </li>
                        <li>
                            <a asp-action="DodajAkciju" asp-controller="Akcije">Nova akcija</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#qaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pitanja</a>
                    <ul class="collapse list-unstyled" id="qaSubmenu">
                        <li>
                            <a asp-action="Index" asp-controller="Pitanja">Pretraga</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#newsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Obavijesti</a>
                    <ul class="collapse list-unstyled" id="newsSubmenu">
                        <li>
                            <a asp-action="IndexAdmin" asp-controller="Obavijesti">Pretraga</a>
                        </li>
                        <li>
                            <a asp-action="Dodaj" asp-controller="Obavijesti">Nova obavijest</a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a asp-action="GetAllKupce" asp-controller="Kupci">Kupci</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a asp-action="Profil" asp-controller="Zaposlenici" class="download">Uredi Profil</a>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Autentifikacija">Logout</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn" style="background-color:coral;">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto nav-buttons">                           
                            <li class="nav-item dropdown nav-buttons" id="">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-lg fa-bell"></i>
                                    <span class="notification-badge badge badge-danger" id="narudzbeSpan" hidden="hidden"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                                     aria-labelledby="navbarDropdownMenuLink-333" id="narudzbeNotifikacije">
                                </div>

                            </li>

                            <li class="nav-item dropdown nav-buttons" id="">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-lg fa-envelope notification-icon"></i>
                                    <span class="notification-badge badge badge-danger" id="pitanjaSpan" hidden="hidden"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                                     aria-labelledby="navbarDropdownMenuLink-333" id="pitanjaNotifikacije">
                                </div>

                            </li>
                            <li class="nav-item dropdown admin-nav">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user" style="font-size:1.5em;"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                                     aria-labelledby="navbarDropdownMenuLink-333">
                                    <a class="dropdown-item" asp-action="Profil" asp-controller="Zaposlenici"> <i class="far fa-address-card pr-3"></i>Profil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Autentifikacija" asp-action="Logout"><i class="fas fa-sign-out-alt pr-3"></i>Odjavi se</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/notification.js"></script>
    @*<script>
        $(document).ready(function () {
            console.log("helllo");
            $.ajax({
                url: "/Notifikacije/GetZaposlenikNotifikacije",
                type: 'GET'                             
            });
        });
    </script>*@
    @RenderSection("Scripts", required: false)

</body>
</html>
