@using TDSalon.Data
@using TDSalon.Web.Helper
@{
    bool isLogovan = Context.IsAuthenticated();
    int kupacId = Context.GetUserId();
    bool isKupac = Context.isKupac();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TDSalon.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.1/css/all.css">
    <style>
        #page-container {
            position: relative;
            min-height: 100vh;
        }

        #content-wrap {
            padding-bottom: 2.5rem; /* Footer height */
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem; /* Footer height */
        }

        a.fa-bell {
            font-size: 2em;
            cursor: pointer;
        }

        .nmbNotification {
            position: absolute;
            font-size: 0.6em;
            top: -4px;
            color: red;
            right: -4px;
        }

        span.num {
            position: absolute;
            font-size: 0.3em;
            top: 1px;
            color: #fff;
            right: 2px;
        }

        span.notification-badge {
            position: relative;
            top: -10px;
            right: 10px;
            border: $white 1px solid;
        }

        .nav-item-text {
            font-size: 25px;
            font-weight: 700;
        }

        a.nav-item-text:hover {
            color: coral !important;
            text-decoration: underline;
        }
    </style>
</head>
<body class="h-100">
    <header>
        <nav class="navbar navbar-expand-sm bg-dark ">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-4">
                    <a href="tel:033975998" title="Telefon" class="text-white">
                        <i class="far fa-phone-alt"></i> <span>036 111 222</span>
                    </a>
                </li>
                <li class="nav-item ml-4">
                    <a asp-controller="Home" asp-action="ONama" class="text-white" title="Lokacija salona">
                        <i class="fal fa-map-marker-alt d-inline-block ">
                        </i>
                        <span class="pl-1 d-inline-block">Pronađite nas</span>
                    </a>
                </li>
                <li class="nav-item text-white ml-4">
                    <i class="far fa-truck"></i><span class="pl-1">Besplatna dostava na području Tuzlanskog kantona</span>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid w-100">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/uploads/logo.png" alt="Alternate Text" height="150" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-item-text" asp-area="" asp-controller="Home" asp-action="Index">Početna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-item-text" asp-area="" asp-controller="Proizvodi" asp-action="Shop" asp-route-kategorijaId=1>Pločice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-item-text" asp-area="" asp-controller="Proizvodi" asp-action="Shop" asp-route-kategorijaId=3>Parketi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-item-text" asp-area="" asp-controller="Proizvodi" asp-action="Shop" asp-route-kategorijaId=2>Laminati</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-item-text" asp-area="" asp-controller="Proizvodi" asp-action="Shop" asp-route-kategorijaId=4>Tepisi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-item-text text-danger" asp-area="" asp-controller="Proizvodi" asp-action="Shop" asp-route-akcija="true">Akcija%</a>
                        </li>
                    </ul>
                </div>
                @if (!isLogovan)
                {
                    <ul class="navbar-nav ml-auto mr-2 mr-md-2 mr-sm-1">
                        <li class="nav-item">
                            <a class="btn btn-block text-white" asp-controller="Autentifikacija" asp-action="Login" style="background-color:coral;">Login</a>
                        </li>
                    </ul>
                }
                else
                {
                    if (isKupac)
                    {
                        <ul class="navbar-nav ml-auto nav-flex-icons">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" target="_blank" onclick="prikazStavki()" data-toggle="dropdown" id="dropdown-korpa" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-shopping-cart" style="font-size:1.5em;"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-default"
                                    aria-labelledby="dropdown-korpa" style="padding: 15px;min-width: 300px;">
                                    <li id="korpaDiv">

                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" target="_blank" aria-label="GitHub" data-toggle="dropdown" id="dropdown-notifikacije" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-lg fa-bell"></i>
                                    <span class="notification-badge badge badge-danger" id="notifikacijeSpan" hidden="hidden"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-default"
                                    aria-labelledby="dropdown-notifikacije" style="padding: 15px;min-width: 300px;">
                                    <li id="notifikacijeDiv">
                                        <div class="row">

                                        </div>
                                    </li>
                                </ul>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" href="#" target="_blank">
                                    <i class="fas fa-user" style="font-size:1.5em;"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                                     aria-labelledby="navbarDropdownMenuLink-333">
                                    <a class="dropdown-item" asp-controller="Narudzbe" asp-action="GetNarudzbeByKorisnik"><i class="fas fa-shopping-cart pr-3"></i>Narudzba</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Favoriti"><i class="far fa-star pr-3"></i>Favoriti</a>
                                    <a class="dropdown-item" asp-action="Profil" asp-controller="Kupci">  <i class="far fa-address-card pr-3"></i>Profil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Autentifikacija" asp-action="Logout"><i class="fas fa-sign-out-alt pr-3"></i>Odjavi se</a>
                                </div>
                            </li>
                        </ul>
                    }

                }
            </div>
        </nav>
    </header>
    <div id="page-container">
        <div id="content-wrap" class="mb-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="font-weight-bold ">INFO</span><br />
                        <span>Ponedjeljak - Petak: 08:00-17:00</span><br />
                        <span>Nedjeljom i praznicima ne radimo</span><br />
                    </div>
                    <div class="col-md-6">
                        <p class="font-weight-bold m-0">ADRESA</p>
                        <p class="m-0">Živinice, Prva Ulica</p>
                        <p class="m-0">Broj telefona: 036-773-416</p>
                    </div>
                </div>
            </div>
            <p class="text-center mb-0"> &copy; 2020 - TDSalon</p>

        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/notification.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        
    function prikazStavki() {
    $.ajax({
    url: "@Url.Action("IndexPartial", "Korpa")",
    type: 'GET',
    datatype: 'json',
        success: function (data) {
            $('#korpaDiv').html(data);
            
        }
    });
    }
       
            $('#listaKantona').change(function () {
        var selectedValue = $(this).val();
        });

    </script>
</body>
</html>
